.container {
  &__home {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__form {
    row-gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-address {
      border: 2px solid white;
      padding: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      width: 100%;
      span {
        position: absolute;
        top: -5%;
        background-color: rgb(20, 20, 20);
      }
    }
    &-input {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 5px;
      width: 100%;
      label {
        align-self: flex-start;
      }
    }
    &-submit {
      input {
        color: black;
        font-weight: bold;
        width: 150px;
        padding: 10px 20px;
        border-radius: 25px;
        background-color: white;
        border: none;
        box-shadow: 1px 1px 6px 1px white;
        cursor: pointer;
      }
    }
  }
}
